# Файлы окружения
.env
.env.*.local

# Каталоги кэша
/vendor/
/node_modules/
bootstrap/cache/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

# Логи и дампы
/storage/logs/*
*.log
*.sql
*.sqlite
*.gz

# Исключить загрузки в storage, кроме нужных
/storage/app/public
/storage/*.key

# Конфигурационные и временные файлы IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Конфигурационные файлы Composer
composer.lock

# Конфигурационные файлы NPM/Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Кэш PHPUnit
.phpunit.result.cache

# Файлы автогенерации
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/*.css
/public/js/*.js

# Файлы сборки фронтенда
/.nuxt
/public/_nuxt
/public/assets

# Кэш Docker
docker-compose.override.yml


# Папки для сборок и релизов
/build/
/release/